{
  "env": {
    "test": {
      "plugins": [
        ["babel-plugin-transform-adana", {
          "ignore": "test/**/*"
        }]
      ]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  "presets": [
    "metalab"
  ]
}
